<div class="container-fluid py-4" id="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Add Account Employee</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form method="post">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="firstNameInputAdd" placeholder="First Name">
                                <label for="firstName">First Name</label>
                                <div id="firstNameHelp" class="form-text">Masukan Nama Depan</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="lastNameInputAdd" placeholder="Last Name">
                                <label for="lastName">Last Name</label>
                                <div id="lastNameHelp" class="form-text">Masukan Nama Belakang</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="datetime-local" class="form-control" id="birthDateInputAdd" placeholder="Birth Date">
                                <label for="birthDate">Birth Date</label>
                                <div id="birthDateHelp" class="form-text">Masukan Tanggal Lahir</div>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-control" id="genderInputAdd" name="gender">
                                    <option value="0">Female</option>
                                    <option value="1">Male</option>
                                </select>
                                <label for="gender">Gender</label>
                                <div id="genderHelp" class="form-text">Masukan Gender</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="datetime-local" class="form-control" id="hiringInputAdd" placeholder="Hiring">
                                <label for="hiring">Hiring</label>
                                <div id="hiringHelp" class="form-text">Masukan Tanggal Diterima Kerja</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="emailInputAdd" placeholder="Email">
                                <label for="email">Email</label>
                                <div id="emailHelp" class="form-text">Masukan Email</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="tel" class="form-control" id="phoneInputAdd" placeholder="Phone Number">
                                <label for="phone">Phone Number</label>
                                <div id="phoneHelp" class="form-text">Masukan Nomer Hape</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="managerGuidAdd" placeholder="Manager Guid">
                                <label for="manager">Manager Guid</label>
                                <div id="managerGuidHelp" class="form-text">Masukan Manager Guid</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="passwordInputAdd" placeholder="Password">
                                <label for="password">Password</label>
                                <div id="passwordHelp" class="form-text">Masukan Password</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="passwordConfirmInputAdd" placeholder="Password">
                                <label for="passwordConfirm">Password Confirm</label>
                                <div id="passwordConfirmHelp" class="form-text">Masukan Konfirmasi Password</div>
                            </div>
                            <button type="submit" class="btn btn-outline-info" id="addAccountSubmit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
