@model ReimbursementWebApp.Models.CreateReimburseViewModel

@using System.Security.Claims;
@{
    var claimsIdentity = User.Identity as ClaimsIdentity;
    var guidEmployee = "";
    var email = "";
    var name = "User";
    var status = 0;
    if (claimsIdentity != null)
    {
        // Get the value of a specific claim
        var identifierClaim = claimsIdentity.FindFirst("Id");
        var emailClaim = claimsIdentity.FindFirst("Email");
        var fullNameClaim = claimsIdentity.FindFirst("FullName");

        if (identifierClaim != null)
        {
            guidEmployee = identifierClaim.Value;
        }

        if (emailClaim != null)
        {
            email = emailClaim.Value;
        }


        if (fullNameClaim != null)
        {
            name = fullNameClaim.Value;
        }
    }
}

<div class="container-fluid py-4" id="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Reimbursement Form</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form asp-action="ReimbursementForm" class="form" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div id="employeeGuid" style="display: none">
                                <label asp-for="EmployeeGuid" class="control-label"></label>
                                <input class="form-control" asp-for="EmployeeGuid" value="@guidEmployee" />
                                <span asp-validation-for="EmployeeGuid" class="text-danger"></span>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-6">
                                    <div class="mb-4 d-flex justify-content-center">
                                        <img class="img-fluid img-thumbnail rounded" id="selectedImage" src="~/assets/img/upload-preview.png"
                                             alt="example placeholder" style="width: 500px;" />
                                    </div>
                                    <div class="mb-3">
                                        <label for="formFile" class="form-label">Receipt Reimbursement</label>
                                        <input asp-for="ImageFile" class="form-control" type="file" id="ImageFile" accept="image/*" onchange="previewImage(event)" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label>
                                        <input class="form-control" asp-for="Name" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="Value" class="control-label"></label>
                                        <input class="form-control" asp-for="Value" />
                                        <span asp-validation-for="Value" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="Description" class="control-label"></label>
                                        <textarea class="form-control" asp-for="Description"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group" style="display: none">
                                        <label asp-for="Status" class="control-label"></label>
                                        <input class="form-control" asp-for="Status" value="@status" />
                                        <span asp-validation-for="Status" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                                    <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/reimbursement.js" asp-append-version="true"></script>
}